<!DOCTYPE html>
<html>
<head>
<title>Polling</title>
</head>
<body>
<h1></h1>
<form action="/poll" method="POST">
    <label > Official Ballot </label>
    <div >
        <table cellpadding="4" cellspacing="0" >
            <tbody>
            <tr >
                <th >
                    <label > Candidates </label>
                </th>
            </tr>
            <tr >
                <td >
                    <input type="radio" id="candidate1" name="candidates"  value="1">
                    <label for="candidate1"> candidate 1 </label>
                </td>
            </tr>
            <tr >
                <td >
                   <input type="radio" id="candidate2" name="candidates" value="2">
                    <label for="candidate2"> candidate 2 </label>
                </td>
            </tr>
            <tr >
                <td >
                    <input type="radio" id="candidate3" name="candidates" value="3">
                    <label for="candidate3"> candidate 3 </label>
                </td>
            </tr>
            <tr >
                <td >
                    <input type="radio" id="candidate4" name="candidates" value="4">
                    <label for="candidate4"> candidate 4 </label>
                </td>
            </tr>
            <tr >
                <td >
                    <input type="radio" id="candidate5" name="candidates" value="5">
                    <label for="candidate5"> candidate 5 </label>
                </td>
            </tr>
            <tr >
                <td >
                    <input type="radio" id="candidate6" name="candidates" value="6">
                    <label for="candidate6"> candidate 6 </label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <input type="submit" value="Submit!" >
</form>
</body>
</html>